body {
    margin: 0 auto;
}
div {
    margin: 0 auto;
    text-align: center;
    width: 1000px;
    border-color: #80808065;
    border-style: solid;
    border-width: 1px;
    padding: 50px;

}
img {
    width: 245px;
    height: 300px;
    border-color: #808080;
    border-style: solid;
    border-width: 2px;
}
h1 {
    font-size: 40px;
    font-family: Arial;
    font-weight: bold;
}
h2 {
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
}
p {
    font-size: 16px;
    font-family: Arial;
    font-weight: normal;
    text-align: center;
}
span {
    font-weight: bold;
}
a {
    background-color: green;
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 50px 50px 50px 50px;
    font-size: 16px;
}